<!DOCTYPE html>
<html>
<head>
    <title>Music Sharing Website</title>
    <style>
        h1,nav{
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <h1>Music Sharing Website</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'upload' %}">Upload</a>
            <a href="{% url 'register' %}">Register</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>