<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'music/base.html' %}

    {% block content %}
        <h1>Welcome, {{ username }}!</h1>

        <h2>Music Files</h2>
        <ol>
        
            {% for music_file in music_files %}
                <p>{{music_file.file.url}}</p>
                <audio controls>
                    <source src="{{ music_file.file.url }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            {% endfor %}
        </ol>
    {% endblock %}

</body>
</html>
